.divDetail {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 400px; /* Establecemos un ancho máximo para limitar el tamaño de la tarjeta */
    margin: 20px auto; /* Centramos la tarjeta horizontalmente con 'auto' en los márgenes izquierdo y derecho */
    text-align: center;
  }
  
  .divDetail h1 {
    font-size: 24px;
    margin-bottom: 16px;
  }
  
  .divDetail img {
    max-width: 100%;
    max-height: 300px; /* Establecemos una altura máxima para la imagen */
    object-fit: cover; /* La imagen se ajustará manteniendo su proporción y recortando si es necesario */
    border-radius: 4px;
    margin-bottom: 16px;
  }
  
  .divDetail p {
    font-size: 16px;
    margin-bottom: 8px;
  }
  