/* CreateForm.module.css */

.form_container {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.form_container label {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  font-weight: bold;
}

.form_container label input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}

.form_container .btn_container button {
  margin-top: 20px;
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form_container .btn_container button:hover {
  background-color: #0056b3;
}
