.cardContainer {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 250px; /* Establecemos un ancho máximo para limitar el tamaño de la tarjeta */
    margin: 8px auto; /* Centramos la tarjeta horizontalmente con 'auto' en los márgenes izquierdo y derecho */
    display: flex;
    flex-direction: column; /* Colocamos los elementos en columna (imagen encima del contenido) */
    align-items: center; /* Centramos los elementos secundarios horizontalmente */
  }
  
  .cardContainer h2 {
    font-size: 20px;
    margin-bottom: 8px;
  }
  
  .cardContainer h3 {
    font-size: 16px;
    margin-bottom: 8px;
  }
  
  .cardContainer img {
    max-width: 100%;
    max-height: 200px; /* Establecemos una altura máxima para todas las imágenes */
    object-fit: cover; /* La imagen se ajustará manteniendo su proporción y recortando si es necesario */
    border-radius: 4px;
    margin-bottom: 16px; /* Añadimos un margen inferior para separar la imagen del contenido */
  }
  
  .cardContainer a {
    text-decoration: none;
    color: #333;
  }
  
  .cardContainer a:hover {
    background-color: #f0f0f0;
  }
  